{{- define "configure" -}}
// Configure adds the provider configured client to the {{ .Noun }}.
func ({{ .Recv }} *{{ .Struct }}) Configure(_ context.Context, req {{ .Pkg }}.ConfigureRequest, resp *{{ .Pkg }}.ConfigureResponse) {
	// Add a nil check when handling ProviderData because Terraform
	// sets that data after it calls the ConfigureProvider RPC.
	if req.ProviderData == nil {
		return
	}

	client, ok := req.ProviderData.(graphql.Client)
	if !ok {
		resp.Diagnostics.AddError(
			"Unexpected {{ .Label }} Configure Type",
			fmt.Sprintf("Expected *graphql.Client, got: %T. Please report this issue to the provider developers.", req.ProviderData),
		)

		return
	}

	{{ .Recv }}.client = &client
}
{{- end -}}
